{% extends "base.html" %}

{% block title %}Your Pet Listings{% endblock %}

{% block content %}
{% load static %}
<header>
    <nav class="flex items-center justify-between p-4 max-w-7xl mx-auto">
        <div class="flex items-center">
            <a href="{% url 'main:home' %}">
                <img src="{% static 'images/paws4homelogo.png' %}" alt="logo">
            </a>
        </div>
        
        <div class="flex items-center space-x-6">
            {% if request.user.account_type == 'user' %}
                
                <a href="{% url 'pets:list_pet' %}" class="text-xl font-medium relative group hover:text-orange-500">
                  Browse
                  <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
              </a>
                <a href="{% url 'main:user_dashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% else %}
            <a href="{% url 'pets:add_pet' %}" class="text-xl font-medium relative group hover:text-orange-500">
              Add Pet
              <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
          </a>
            <span class="text-xl text-orange-500 font-semibold underline underline-offset-4">Dashboard</span>
            {% endif %}
            <a href="{% url 'main:notifications' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Notifications
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:conversations_list' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Messages
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:profile' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Profile
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
        </div>
            
            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                <div class="group flex items-center space-x-2">
                    <!-- Welcome message -->
                    <div class="opacity-100 transition-opacity duration-500 ease-in-out group-hover:opacity-0 ">
                        Welcome, 
                    </div> 
                    <div class="transition-font duration-500 ease-in-out group-hover:font-bold space-x-2">
                    {{ request.user.email }}!
                    </div>
                    <!-- Logout button -->
                    <a href="{% url 'main:logout_account' %}">
                        <button class="BtnLogout">
                            <div class="sign">
                                <svg viewBox="0 0 512 512">
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                                </svg>
                            </div>
                            <div class="text">Logout</div>
                        </button>
                    </a>
                </div>
                {% else %}
                    <div class="nav-items">Welcome, Guest!</div>
                    <a href="{% url 'main:login_account' %}" class="text-xl text-[#714949] relative group hover:text-orange-500 font-semibold">Login
                        <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                    </a>
                    <a href="{% url 'main:create_account' %}" class="text-xl bg-[#F2968F] text-white px-4 py-2 rounded-full duration-500 hover:bg-red-400">Sign Up
                    </a>
                {% endif %}

            </div>

    </nav>
</header>

  <div class="flex flex-grow">
    <aside class="bg-[#FFDDD2] w-64 py-8 px-4 flex flex-col ">
      <div class="flex items-center justify-center">
        <img src="{% static 'images/shelterlogo.png' %}" alt="Shelter Logo" class="h-20">
      </div>
      <h1 class="text-2xl font-bold text-center mt-4">{{ request.user.first_name }}</h1>

      <!-- Sidebar Navigation -->
      <nav class="mt-10">
        <ul class="space-y-4">
          <li><a href="{% url 'main:shelterdashboard' %}" class="block text-lg text-gray-600 hover:text-[#F2968F] font-bold">Overview</a></li>
          <li><span class="block text-lg text-black font-bold">Pet Listings</span></li>
          <li><a href="{% url 'main:pending_requests' %}" class="block text-lg text-gray-600 hover:text-[#F2968F] font-bold">Pending Requests</a></li>
          <li><a href="{% url 'main:petsadopted' %}" class="block text-lg text-gray-600 hover:text-[#F2968F] font-bold">Pets Adopted</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Main Content -->
    <main class="flex-grow bg-white ml-64 p-10 rounded-tl-3xl shadow-lg max-w-[90%] xl:max-w-[85%] mx-auto">
      <section class="mb-12">
        <h3 class="text-2xl font-bold mb-6">Pet Listings:</h3>
        <div class="grid grid-cols-5 gap-6">
          {% for pet in pets %}
          <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer relative" 
     data-pet-id="{{ pet.id }}" 
     onclick="showPetModal('{{ pet.id }}', '{{ pet.name }}', '{{ pet.created_at }}', '{{ pet.age_years }}', '{{ pet.age_months }}', '{{ pet.type }}', '{{ pet.description }}', '{{ pet.image.url }}')">
    <!-- Pet Image -->
    <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="w-full h-48 object-cover">
    
    <!-- Card Content -->
    <div class="px-4 pt-3 pb-8">
        <!-- Pet Name and Age -->
        <div class="flex justify-between items-center">
            <h3 class="font-bold text-[16px] text-black">{{ pet.name }}</h3>
            <p class="text-gray-500 text-[12px]">
                {% if pet.age_years > 0 %}
                    {% if pet.age_years > 1 %}
                    {{ pet.age_years }} years
                    {% else %}
                    {{ pet.age_years }} year
                    {% endif %}
                {% else %}
                    {% if pet.age_months > 1 %}
                    {{ pet.age_months }} months
                    {% else %}
                    {{ pet.age_months }} month
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <!-- Pet Type -->
        <span class="text-gray-500 text-[12px] block mt-0">{{ pet.type }}</span>
    </div>
</div>


          {% empty %}
          <p class="text-gray-500">You have no pets listed for adoption.</p>
          {% endfor %}
          <!-- Add Pet Button -->
          <a href="{% url 'pets:add_pet' %}" class="bg-white p-4 rounded-lg shadow-md flex items-center justify-center py-28">
            <span class="text-gray-500">Add Pet</span>
          </a>
        </div>
         <!-- <--pets deleted section-->
    <h3 class="text-2xl font-bold mb-6">Archived Pets:</h3>
    <div class="grid grid-cols-5 gap-6">
      {% for pet in deleted_pets %}
      <div class="bg-gray-200 rounded-lg shadow-md overflow-hidden cursor-pointer relative" 
           onclick="showPetRestoreModal('{{ pet.id }}', '{{ pet.name }}', '{{ pet.created_at }}', '{{ pet.age_years }}', '{{ pet.age_months }}', '{{ pet.type }}', '{{ pet.description }}', '{{ pet.image.url }}', '{{ pet.restore_url }}')">
          <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="w-full h-48 object-cover opacity-50">
          <div class="px-4 pt-3 pb-8">
              <h3 class="font-bold text-[16px] text-gray-500">{{ pet.name }}</h3>
              <p class="text-gray-400 text-[12px]">Archived</p>
          </div>
      </div>
      {% empty %}
      <p class="text-gray-500">No pets have been archived yet.</p>
      {% endfor %}
  </div>
      </section>
    </main>
   
  </div>

  <!-- Modal -->
  <div id="petModal" class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center hidden z-50 overflow-y-auto">
    <div class="bg-white pr-8 rounded-3xl shadow-lg max-w-2xl w-full h-[400px] relative overflow-y-auto">
      
      <!-- Back Button -->
      <button class="absolute top-4 left-4" onclick="closePetModal()">
        <img src="{% static 'images/backArrow.png' %}" alt="Back" class="w-7 h-7">
      </button>

      <div class="flex flex-col md:flex-row">
        <!-- Pet Image -->
        <img id="modalPetImage" class="w-[300px] h-[400px] object-cover rounded-3xl mb-4 md:mb-0 md:mr-6" alt="Pet Image">
        <div class="flex-grow">
          <h3 id="modalPetName" class="pt-8 font-bold text-2xl mb-2"></h3>
          <p id="modalPetCreated" class="text-gray-500 text-sm mb-2"></p>
          <div class="flex space-x-2 mb-1">
            <p id="modalPetAgeYears" class="bg-yellow-500 text-white px-3 py-1 rounded-full text-sm"></p>
            <p id="modalPetAgeMonths" class="bg-orange-600 text-white px-3 py-1 rounded-full text-sm"></p>
            <p id="modalPetType" class="bg-blue-500 text-white px-3 py-1 rounded-full text-sm"></p>
          </div>
          <p id="modalPetDescription" class="text-gray-600 mt-2 mb-4"></p>
        </div>
      </div>

      <!-- Edit and Delete Buttons -->
      <div class=" absolute bottom-6 right-6">
        <a href="#" id="editPetButton" class="bg-blue-500 text-white px-6 py-2 rounded-full">Edit</a>
        <a href="#" id="deletePetButton" class="bg-red-500 text-white px-6 py-2 rounded-full" 
   onclick="deletePet(event, this.getAttribute('data-url'))">Archive</a>
      </div>
    </div>
  </div>

  <div id="petRestoreModal" class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center hidden z-50 overflow-y-auto">
    <div class="bg-white pr-8 rounded-3xl shadow-lg max-w-2xl w-full h-[400px] relative overflow-y-auto">
        
        <!-- Back Button -->
        <button class="absolute top-4 left-4" onclick="closePetRestoreModal()">
            <img src="{% static 'images/backArrow.png' %}" alt="Back" class="w-7 h-7">
        </button>

        <div class="flex flex-col md:flex-row">
            <!-- Pet Image -->
            <img id="modalRestorePetImage" class="w-[300px] h-[400px] object-cover rounded-3xl mb-4 md:mb-0 md:mr-6" alt="Pet Image">
            <div class="flex-grow">
                <h3 id="modalRestorePetName" class="pt-8 font-bold text-2xl mb-2"></h3>
                <p id="modalRestorePetCreated" class="text-gray-500 text-sm mb-2"></p>
                <div class="flex space-x-2 mb-1">
                    <p id="modalRestorePetAgeYears" class="bg-yellow-500 text-white px-3 py-1 rounded-full text-sm"></p>
                    <p id="modalRestorePetAgeMonths" class="bg-orange-600 text-white px-3 py-1 rounded-full text-sm"></p>
                    <p id="modalRestorePetType" class="bg-blue-500 text-white px-3 py-1 rounded-full text-sm"></p>
                </div>
                <p id="modalRestorePetDescription" class="text-gray-600 mt-2 mb-4"></p>
            </div>
        </div>

        <!-- Restore Button -->
        <div class="absolute bottom-6 right-6">
          <a href="#" id="restorePetButton" class="bg-green-500 text-white px-6 py-2 rounded-full" 
          onclick="restorePet(event, this.getAttribute('data-url')) ">Restore</a>
        </div>
    </div>
</div>

<!-- Archive Confirmation Modal -->
<div id="archiveModal" class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center hidden z-50">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
    <h2 class="text-xl font-bold text-gray-800 text-center mb-4">
      Are you sure you want to archive 
      <span id="modalPetName" class="text-red-600"></span>?
    </h2>
    <p class="text-gray-600 text-center mb-6">
      Archiving this pet will move it to the archived section and make it unavailable for adoption listings.
    </p>

    <!-- Buttons -->
    <div class="flex justify-center space-x-4">
      <form id="archiveForm" method="POST" action="">
        {% csrf_token %}
        <button type="submit" class="bg-red-500 text-white px-6 py-2 rounded-full shadow hover:bg-red-600">
          Yes, Archive
        </button>
      </form>
      <button onclick="closeArchiveModal()" class="bg-gray-300 text-gray-700 px-6 py-2 rounded-full shadow hover:bg-gray-400">
        Cancel
      </button>
    </div>
  </div>
</div>

 
  <script>
    function showPetModal(id, name, created, ageYears, ageMonths, type, description, imageUrl) {
    document.getElementById('modalPetName').innerText = name;
    document.getElementById('modalPetCreated').innerText = "Uploaded on: " + created;
    document.getElementById('modalPetAgeYears').innerText = ageYears + " years";
    document.getElementById('modalPetAgeMonths').innerText = ageMonths + " months";
    document.getElementById('modalPetType').innerText = type;
    document.getElementById('modalPetDescription').innerText = description;
    document.getElementById('modalPetImage').src = imageUrl;
    document.getElementById('editPetButton').href = `/edit_pet/${id}/`;
    document.getElementById('deletePetButton').setAttribute('data-url', `/delete_pet/${id}/`);
    document.getElementById('petModal').classList.remove('hidden');
    document.body.classList.add('overflow-hidden');
}

function showPetRestoreModal(id, name, created, ageYears, ageMonths, type, description, imageUrl, restoreUrl) {
        document.getElementById('modalRestorePetName').innerText = name;
        document.getElementById('modalRestorePetCreated').innerText = "Uploaded on: " + created;
        document.getElementById('modalRestorePetAgeYears').innerText = ageYears + " years";
        document.getElementById('modalRestorePetAgeMonths').innerText = ageMonths + " months";
        document.getElementById('modalRestorePetType').innerText = type;
        document.getElementById('modalRestorePetDescription').innerText = description;
        document.getElementById('modalRestorePetImage').src = imageUrl;
        document.getElementById('restorePetButton').setAttribute('data-url', `/restore_pet/${id}/`); 
        document.getElementById('petRestoreModal').classList.remove('hidden');
        document.body.classList.add('overflow-hidden');
    }

    function restorePet() {
        var restoreUrl = document.getElementById('restorePetButton').getAttribute('data-url');
        if (confirm("Are you sure you want to restore this pet?")) {
            window.location.href = restoreUrl; 
        }
    }

    function closePetRestoreModal() {
        document.getElementById('petRestoreModal').classList.add('hidden');
        document.body.classList.remove('overflow-hidden');
    }


    function closePetModal() {
      document.getElementById('petModal').classList.add('hidden');
      document.body.classList.remove('overflow-hidden');
    }
    function deletePet(event, url) {
  event.preventDefault(); 
  if (confirm("Are you sure you want to archive this pet?")) {
    window.location.href = url; 
  }
}
// Show Archive Modal
function showArchiveModal(petId, petName, archiveUrl) {
  document.getElementById('modalPetName').textContent = petName;
  document.getElementById('archiveForm').action = archiveUrl;
  document.getElementById('archiveModal').classList.remove('hidden');
  document.body.classList.add('overflow-hidden');
}

// Close Archive Modal
function closeArchiveModal() {
  document.getElementById('archiveModal').classList.add('hidden');
  document.body.classList.remove('overflow-hidden');
}


  </script>

{% endblock %}
