<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Not Found{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'images/paws4homelogo.png' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<link rel="stylesheet" href="{% static 'css/sad-dog.css' %}">

    <body  class="bg-[#FFDDD2] text-[#714949] overflow-y-auto" style="font-family: 'Lexend', sans-serif;">
        <div class="body">
            <div class="main">
                <div class="dog">
                    <div class="dog__paws">
                        <div class="dog__bl-leg leg">
                            <div class="dog__bl-paw paw"></div>
                            <div class="dog__bl-top top"></div>
                        </div>
                        <div class="dog__fl-leg leg">
                            <div class="dog__fl-paw paw"></div>
                            <div class="dog__fl-top top"></div>
                        </div>
                        <div class="dog__fr-leg leg">
                            <div class="dog__fr-paw paw"></div>
                            <div class="dog__fr-top top"></div>
                        </div>
                    </div>
                    <div class="dog__body">
                        <div class="dog__tail"></div>
                    </div>
                    <div class="dog__head">
                        <div class="dog__snout">
                            <div class="dog__nose"></div>
                            <div class="dog__eyes">
                                <div class="dog__eye-l"></div>
                                <div class="dog__eye-r"></div>
                            </div>
                        </div>
                    </div>
                    <div class="dog__head-c">
                        <div class="dog__ear-l"></div>
                        <div class="dog__ear-r"></div>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <h1>404 - Page Not Found</h1>
                <p>Oops! Looks like you’ve lost your way.</p>
            </div>
        </div>
    </body>