{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
{% load static %}
<!-- Header -->
<header>
    <nav class="flex items-center justify-between p-4 max-w-7xl mx-auto">
        <div class="flex items-center">
            <img src="{% static 'images/paws4homelogo.png' %}" alt="PawsForHome" class="h-20">
        </div>

        <div class="flex items-center space-x-6">
          
          <a href="{% url 'main:landing_page' %}" class="text-xl font-medium relative group hover:text-orange-500">
              Home
              <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
          </a>
          
          <a href="{% url 'main:features' %}" class="text-xl font-medium relative group hover:text-orange-500">
             Features
              <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
          </a>
          <span class="text-xl text-orange-500 font-semibold underline underline-offset-4">Contact Us</span>
      </div>
            
      <div class="flex items-center space-x-4">
        <a href="{% url 'main:login_account' %}" class="text-xl text-[#714949] relative group hover:text-orange-500 font-semibold">Login
            <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
        </a>
        <a href="{% url 'main:create_account' %}" class="text-xl bg-[#F2968F] text-white px-4 py-2 rounded-full duration-500 hover:bg-red-400">Sign Up
        </a>
    </div>
    </nav>
</header>


  <div class="container mx-auto py-16 px-6">
    <h1 class="text-4xl font-bold text-center text-[#FF7578] mb-12">Contact Us</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-lg p-6 text-center">
        <img src="{% static 'images/admin2_icon.png' %}" alt="Person 1" class="w-24 h-24 rounded-full mx-auto mb-4">
        <h2 class="text-xl font-semibold mb-2">Niña Margarette B. Catubig</h2>
        <p class="text-gray-600 mb-2">Admin</p>
        <p class="text-gray-600">niñacat@paws4home.com</p>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-6 text-center">
        <img src="{% static 'images/admin1_icon.png' %}" alt="Person 2" class="w-24 h-24 rounded-full mx-auto mb-4">
        <h2 class="text-xl font-semibold mb-2">Kaye Aizerner Evangelista</h2>
        <p class="text-gray-600 mb-2">Admin</p>
        <p class="text-gray-600">kayeeva@paws4home.com</p>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-6 text-center">
        <img src="{% static 'images/admin3_icon.png' %}" alt="Person 3" class="w-24 h-24 rounded-full mx-auto mb-4">
        <h2 class="text-xl font-semibold mb-2">Kyle Vasquez</h2>
        <p class="text-gray-600 mb-2">Admin</p>
        <p class="text-gray-600">kylevas@paws4home.com</p>
      </div>
    </div>
  </div>
  {% endblock %}
