<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Paws For Home </title>
</head>
<body>
    {% comment %} 
        dire ang silbeg main page wherein it has the nav bar, header, footer, and logout
        other html files (profile, message, dashboard, etc.) kay i extends sa ani na html file
    {% endcomment %}
    <nav>
        <ul>
            <li>
                <a href="{% url "pets:list_pet" %}">Browse</a>
            </li>
            <li>
                <a href="{% url "main:notifications" %}">Notification</a>
            </li>
            <li>
                <a href="{% url "main:message" %}">Messages</a>
            </li>
            <li>
                <a href="{% url "main:profile" %}">Profile</a>
            </li>
            <li>Logout</li>
        </ul>
    </nav>

    {% block contents %}
    {% endblock contents %}

</body>
</html>