{% extends "index.html" %}


{% block contents %}

    {% load static %}
    <link rel="stylesheet" href="{% static "css/user-dashboard.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    
    
    <div class="main">
        <div class="side-bar">
            {% comment %} ang silbeg profile nimo {% endcomment %}
            <center>
                <div>
                    <img src="{% static "images/shelterlogo.png" %}" alt="test">
                    <h2>{{ curr_fn }}</h2>
                </div>
            </center>

            <div class="side-items">
                <div class="item">
                    <a href="{% url "main:user_dashboard" %}">
                        Overview
                    </a>
                </div>
                <div class="item">
                    <a href="{% url "main:ud_requests" %}">
                        Requests
                    </a>
                </div>
                <div class="item">
                    <a href="{% url "main:ud_favorites" %}">
                        Favorites
                    </a>
                </div>
                <div class="item">
                    <a href="{% url "main:ud_adoptionhistory" %}">
                        Adoption History
                    </a>
                </div>
            </div>

        </div>
        <div class="side-bar-contents">
            <div class="content">
                {% block u_dash_content %}
                    hello 1
                {% endblock u_dash_content %}
            </div>
        </div>
    </div>
{% endblock contents %}