html, body{
    padding: 0;
    margin: 0;
}

.main {
    /* width: 96vw; */
    /* height: 97vh; */
    /* padding: 0 !important;  */
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    /* border: 1px solid black; */
}


.main .side-bar{
    width: 25%;
    font-weight: bold;
    padding: 10px;
    /* border: 1px solid black; */
}
/* 
.side-bar img, 
.side-bar h2{
    border: 1px solid black;
} */

.side-bar h2{
    margin: 0;
}

.side-bar .side-items{
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
}

.side-items .item{
    padding: 10px;
    /* border: 1px solid black; */
}

.item a{
    text-decoration: none;
    color: #666666;
}

.item.active a{
    color: black;
}

.main .side-bar-contents{
    width: 75%;
    /* padding: 0 !important; */
    /* border: 1px solid black; */
}

.side-bar-contents .content{
    background-color: #FFF1EE;
    border-radius: 20px;
    padding: 20px;
    min-height: 70vh;
    height: fit-content;
    max-width: 1000px;
    display: flex; 
    flex-direction: row; 
    gap: 5px 15px; 
    /* justify-content: space-between; */
    /* flex-grow: initial; */
    flex-wrap: wrap;
    /* gap: 0; */
}

.side-bar-contents .content h2{
    width: 100%;
    margin: 0 0 20px;
    padding-bottom: 0;
    font-weight: bolder;
    height: fit-content;
    /* border: 1px solid black; */
}

.side-bar-contents .content > div {
    margin: 5px;
    /* border: 1px solid black; */
}

.pet{
    width: 225px;
    /* min-height: 50px;   */
    height: fit-content; 
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    /* border: 1px solid black; */
}

.pet .pet-image{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.pet .pet-info{
    padding: 16px;
}

.pet-info .pet-name{
    font-weight: bold; 
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 8px;
}

.pet-info .pet-age,
.pet-info .pet-type{
    color: #6B7280;
    font-size: 0.875rem;
    margin: 0;
}

.content .overview-stats{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    justify-items: center;
    /* border: 1px solid black; */
}

.overview-stats .overview{
    background-color: white;
    border-radius: 8px;
    color: #714949;
    width: 30%;
    padding: 15px 0;
    /* border: 1px solid black; */
}
.overview h3{
    font-weight: bolder;
    margin: 0;
}

.overview .count{
    font-weight: bolder;
    margin: 0;
    font-size: 75px;;
}

.pets-owned{
    width: 100%;
    min-height: 225px;
    /* border: 1px solid black; */
}

.pets-owned h3{
    margin: 0;
}

.history {
    width: 100%;
    min-height: 225px;
    /* border: 1px solid black; */
}

.history h3{
    margin: 0;
    font-weight:normal;
}