.main {
    width: 96vw;
    /* height: 97vh; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}


.main .side-bar{
    width: 25%;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 10px;
    /* border: 1px solid black; */
}
/* 
.side-bar img, 
.side-bar h2{
    border: 1px solid black;
} */

.side-bar h2{
    margin: 0;
}

.side-bar .side-items{
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
}

.side-items .item{
    padding: 10px;
    /* border: 1px solid black; */
}

.item a{
    text-decoration: none;
    color: black;
}

.main .side-bar-contents{
    width: 75%;
    /* border: 1px solid black; */
}

.side-bar-contents .content{
    background-color: #FFF1EE;
    border-radius: 20px;
    padding: 20px;
    height: 70vh;
    width: 1050px;
    display: flex; 
    flex-direction: row; 
    gap: 10px; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .pet{
    width: 200px;  
    height: fit-content; 
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content .pet .pet-image{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.content .pet .pet-info{
    padding: 16px;
}

.pet-info .pet-name{
    font-weight: bold; 
    font-size: 1.125rem;
    margin-bottom: 8px;
}

.pet-info .pet-age,
.pet-info .pet-type{
    color: #6B7280;
    font-size: 0.875rem;
}