{% extends "base.html" %}

{% block title %}PawsForHome{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/slider.css' %}">

<header>
    <nav class="flex items-center justify-between p-4 max-w-7xl mx-auto">
        <div class="flex items-center">
            <a href="{% url 'main:home' %}">
                <img src="{% static 'images/paws4homelogo.png' %}" alt="logo">
            </a>
        </div>
        
        <div class="flex items-center space-x-6">
            {% if request.user.account_type == 'user' %}
                <span class="text-xl text-orange-500 font-semibold underline underline-offset-4">Browse</span>
                <a href="{% url 'main:user_dashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% else %}
                <a href="{% url 'main:shelterdashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% endif %}
            <a href="{% url 'main:notifications' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Notifications
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:conversations_list' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Messages
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:profile' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Profile
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
        </div>
            
            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                <div class="group flex items-center space-x-2">
                    <!-- Welcome message -->
                    <div class="opacity-100 transition-opacity duration-500 ease-in-out group-hover:opacity-0 ">
                        Welcome, 
                    </div> 
                    <div class="transition-font duration-500 ease-in-out group-hover:font-bold space-x-2">
                    {{ request.user.email }}!
                    </div>
                    <!-- Logout button -->
                    <a href="{% url 'main:logout_account' %}">
                        <button class="BtnLogout">
                            <div class="sign">
                                <svg viewBox="0 0 512 512">
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                                </svg>
                            </div>
                            <div class="text">Logout</div>
                        </button>
                    </a>
                </div>
                {% else %}
                    <div class="nav-items">Welcome, Guest!</div>
                    <a href="{% url 'main:login_account' %}" class="text-xl text-[#714949] relative group hover:text-orange-500 font-semibold">Login
                        <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                    </a>
                    <a href="{% url 'main:create_account' %}" class="text-xl bg-[#F2968F] text-white px-4 py-2 rounded-full duration-500 hover:bg-red-400">Sign Up
                    </a>
                {% endif %}

            </div>

            

    </nav>
</header>



<section class=" mt-8">
    <div class="px-[15vw] mb-6 flex justify-between items-center">
        <h2 class="text-2xl font-bold">Browse</h2>
        <button id="filterButton" class="flex items-center rounded-full hover:bg-red-400 transition duration-300 px-4 py-2">
            <span class="text-medium font-medium text-[#714949]">Filter</span>
            <img id="filterIcon" src="{% static 'images/selective.png' %}" alt="Filter" class="w-10 h-10 mr-2">
        </button>
    </div>
    

    <div id="filterOverlay" 
    class="fixed inset-0 bg-black bg-opacity-50 hidden transition-opacity duration-700 ease-in-out z-40">
    </div>

<!-- Filter Form -->
        <form 
            method="GET" 
            id="filterForm" 
            class="fixed top-0 right-[-50px] h-full w-[500px] bg-[#FFF1EE] transform translate-x-full transition-transform duration-700 ease-in-out overflow-y-auto z-50 shadow-lg px-6 py-4 hidden">
            <div class="mt-4">
                <label for="pet_type" class="text-black text-lg font-semibold mb-4">Filter by Type</label>
                <div class="flex flex-wrap gap-1">
                    {% for pet_type, pet_type_display in pet_type_choices %}
                    <div class="flex items-center justify-start">
                        <input type="checkbox" name="pet_type" id="pet_type_{{ pet_type }}" value="{{ pet_type }}" class="hidden peer" {% if pet_type in selected_pet_types %}checked{% endif %}>
                        <label for="pet_type_{{ pet_type }}" class="  inline-flex items-center justify-center px-2 text-gray-500 bg-white border-2 border-gray-300 rounded-full cursor-pointer peer-checked:bg-[#F2968F] peer-checked:font-semibold hover:text-gray-600 peer-checked:text-white">
                            <div class="block">
                                <div class="text-medium">{{ pet_type_display }}</div>
                            </div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="mt-10">
                <label for="age_years" class="text-black text-lg font-semibold">Filter by Age (Years)</label>
                <div class="flex items-center justify-between space-x-2 mt-2">
                    <span
                        id="range1"
                        class="flex-1 border border-gray-300 rounded px-2 py-1 text-center bg-white focus:outline-none focus:ring-2 focus:ring-[#F2968F]"
                        contenteditable="true">
                        {{ age_years_min|default:0 }}
                    </span>
                    <span>&dash;</span>
                    <span
                        id="range2"
                        class="flex-1 border border-gray-300 rounded px-2 py-1 text-center bg-white focus:outline-none focus:ring-2 focus:ring-blue-500"
                        contenteditable="true">
                        {{ age_years_max|default:100 }}
                    </span>
                </div>
                <div class="flex items-center justify-between space-x-2 mt-2">
                    <div id="error-message-one" class="text-red-500 text-sm mt-1 hidden">Please input value</div>
                    <div id="error-message-two" class="text-red-500 text-sm mt-1 hidden">Please input value</div>
                </div>
                <div class="containerSlider mt-2">
                    <div class="slider-track"></div>
                    <input 
                        type="range" 
                        min="0" 
                        max="100" 
                        value="{{ age_years_min|default:0 }}" 
                        id="slider-1" 
                        name="age_years_min" 
                        oninput="slideOne()">
                    <input 
                        type="range" 
                        min="0" 
                        max="100" 
                        value="{{ age_years_max|default:100 }}" 
                        id="slider-2" 
                        name="age_years_max" 
                        oninput="slideTwo()">
                </div>
            </div>

            <div class="mt-8">
                <label for="location" class="text-black text-lg font-semibold mb-4">Filter by Location</label>
                <input type="text" name="location" id="location" class="w-full p-2 border rounded-md text-gray-900" placeholder="Enter location" value="{{ location|default:'' }}">
            </div>
            <button type="submit" class="bg-[#F2968F] text-white p-2 rounded-md my-6 w-full">Filter</button>
        </form>



    <div class="place-items-center pt-6 pb-4">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 w-[65vw] gap-6">
            {% for pet in pets %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer relative hover:scale-105 hover:z-40 duration-300" 
                data-pet-id="{{ pet.id }}" 
                onclick="showPetModal('{{ pet.id }}', '{{ pet.name }}', '{{ pet.created_at }}', '{{ pet.age_years }}', '{{ pet.age_months }}', '{{ pet.type }}', '{{ pet.adoption_fee }}', '{{ pet.description }}', '{{ pet.image.url }}')">

                <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="w-full h-48 object-cover">
                <div class="px-4 pt-3 pb-8">
                    <div class="flex justify-between items-center">
                        <h3 class="font-bold text-[16px] text-black">{{ pet.name }}</h3>
                        <p class="text-gray-500 text-[12px]">
                            {% if pet.age_years > 0 %}
                                {% if pet.age_years > 1 %}
                                    {{ pet.age_years }} years
                                {% else %}
                                    {{ pet.age_years }} year
                                {% endif %}
                            {% else %}
                                {% if pet.age_months > 1 %}
                                    {{ pet.age_months }} months
                                {% else %}
                                    {{ pet.age_months }} month
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <span class="text-gray-500 text-[12px] block mt-0">{{ pet.type }}</span>
                </div>

                <a href="javascript:void(0);" 
                class="absolute top-2 right-2 z-10 toggle-favorite" 
                data-pet-id="{{ pet.id }}" 
                onclick="toggleFavorite(event, {{ pet.id }})">
                    {% if pet.id in favorite_pet_ids %}
                        <img src="{% static 'images/liked.png' %}" alt="Liked" class="w-10 h-10 favorite-icon" data-favorited="true">
                    {% else %}
                        <img src="{% static 'images/unliked.png' %}" alt="Not Liked" class="w-10 h-10 favorite-icon" data-favorited="false">
                    {% endif %}
                </a>
            </div>
            {% empty %}
            <div class="h-[40vh]"><p >No pets available.</p></div>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="flex justify-center my-5">
        <div class="inline-flex items-center space-x-1">
            {% if pets.has_previous %}
                <a href="?page={{ pets.previous_page_number }}" class="bg-gray-200 text-gray-700 px-3 py-2 rounded-full">Previous</a>
            {% endif %}
            
            {% for page_num in pets.paginator.page_range %}
                {% if pets.number == page_num %}
                    <span class="bg-[#F2968F] text-white px-3 py-2 rounded-full">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}" class="bg-gray-200 text-gray-700 px-3 py-2 rounded-full">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
            
            {% if pets.has_next %}
                <a href="?page={{ pets.next_page_number }}" class="bg-[#F2968F] text-white px-3 py-2 rounded-full">Next</a>
            {% endif %}
        </div>
    </div>



    <!-- Modal -->
    <div id="petModal" class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center pt-[20vh] hidden z-50 overflow-y-auto">
            <div class="bg-white pr-8 rounded-3xl shadow-lg max-w-2xl w-full h-[400px] relative overflow-y-auto">
                <button class="absolute top-4 left-4" onclick="closePetModal()">
                    <img src="{% static 'images/backArrow.png' %}" alt="Close" class="w-7 h-7">
                </button>
                <div class="flex flex-col md:flex-row">
                    <!-- Image occupying half of the modal with rounded corners and fixed size -->
                    <img id="modalPetImage" class="w-[300px] h-[400px] object-cover rounded-3xl mb-4 md:mb-0 md:mr-6" alt="Pet Image">
                    <div class="flex-grow">
                        <h3 id="modalPetName" class="pt-8 font-bold text-2xl mb-2"></h3>
                        <p id="modalPetCreated" class="text-gray-500 text-sm mb-2"></p>
                        <div class="flex space-x-2 mb-1">
                            <p id="modalPetAgeYears" class="bg-yellow-500 text-white px-3 py-1 rounded-full text-sm"></p>
                            <p id="modalPetAgeMonths" class="bg-orange-600 text-white px-3 py-1 rounded-full text-sm"></p>
                            <p id="modalPetType" class="bg-blue-500 text-white px-3 py-1 rounded-full text-sm"></p>
                            <p id="modalPetFee" class="bg-[#FF395D] text-white px-3 py-1 rounded-full text-sm"></p>
                        </div>
                        <p id="modalPetDescription" class="text-gray-600 mt-2 mb-4"></p>
                        <input type="hidden" id="modalPetId" value="">
        
                        <!-- Favorite Button in the Modal -->
                        <button id="modalFavoriteButton" class="absolute top-4 right-4 z-10" onclick="toggleFavorite()">
                            <img id="modalFavoriteIcon" src="{% static 'images/unliked.png' %}" alt="Favorite" class="w-10 h-10">
                        </button>
                    </div>
                    <!-- Positioned "Apply to Adopt" button in the bottom right of the modal -->
                    <button class="absolute bottom-6 right-6 bg-[#F2968F] text-white px-6 py-2 rounded-full" onclick="redirectToAdoptionForm()">Apply to Adopt</button>
                </div>
            </div>
    </div>
    
</section>

<script src="{% static 'js/modal.js' %}" ></script>
<script src="{% static 'js/slider.js' %}"></script>
<script>
    const filterButton = document.getElementById('filterButton');
    const filterForm = document.getElementById('filterForm');
    const filterOverlay = document.getElementById('filterOverlay');

    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
        filterForm.classList.remove("hidden");
        }, 1000);
});

    filterButton.addEventListener('click', function () {
        if (filterForm.classList.contains('translate-x-full')) {
            filterForm.classList.remove('translate-x-full');
            filterForm.classList.add('translate-x-0');
            filterOverlay.classList.remove('hidden');
            filterOverlay.classList.add('block');
            filterButton.classList.remove('bg-[#F2968F]');
            filterButton.classList.add('bg-red-400');
        } else {
            filterForm.classList.add('translate-x-full');
            filterForm.classList.remove('translate-x-0');
            filterOverlay.classList.add('hidden');
            filterOverlay.classList.remove('block');
            filterButton.classList.remove('bg-red-400');
            filterButton.classList.add('bg-[#F2968F]');
        }
        
    });

    filterOverlay.addEventListener('click', function () {
        filterForm.classList.add('translate-x-full');
        filterForm.classList.remove('translate-x-0');
        filterOverlay.classList.add('hidden');
        filterOverlay.classList.remove('block');
        filterButton.classList.remove('bg-red-400');
        filterButton.classList.add('bg-[#F2968F]');
    });
</script>
{% endblock %}
