{% extends "base.html" %}

{% block title %}PawsForHome{% endblock %}

{% block content %}
{% load static %}
<header>
    <nav class="flex items-center justify-between p-4 max-w-7xl mx-auto">
        <div class="flex items-center">
            <a href="{% url 'main:home' %}">
                <img src="{% static 'images/paws4homelogo.png' %}" alt="logo">
            </a>
        </div>
        
        <div class="flex items-center space-x-6">
            {% if request.user.account_type == 'user' %}
                <span class="text-xl text-orange-500 font-semibold underline underline-offset-4">Browse</span>
                <a href="{% url 'main:user_dashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% else %}
                <a href="{% url 'main:shelterdashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% endif %}
            <a href="{% url 'main:notifications' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Notifications
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:conversations_list' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Messages
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:profile' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Profile
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
        </div>
            
            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                <div class="group flex items-center space-x-2">
                    <!-- Welcome message -->
                    <div class="opacity-100 transition-opacity duration-500 ease-in-out group-hover:opacity-0 ">
                        Welcome, 
                    </div> 
                    <div class="transition-font duration-500 ease-in-out group-hover:font-bold space-x-2">
                    {{ request.user.email }}!
                    </div>
                    <!-- Logout button -->
                    <a href="{% url 'main:logout_account' %}">
                        <button class="BtnLogout">
                            <div class="sign">
                                <svg viewBox="0 0 512 512">
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                                </svg>
                            </div>
                            <div class="text">Logout</div>
                        </button>
                    </a>
                </div>
                {% else %}
                    <div class="nav-items">Welcome, Guest!</div>
                    <a href="{% url 'main:login_account' %}" class="text-xl text-[#714949] relative group hover:text-orange-500 font-semibold">Login
                        <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                    </a>
                    <a href="{% url 'main:create_account' %}" class="text-xl bg-[#F2968F] text-white px-4 py-2 rounded-full duration-500 hover:bg-red-400">Sign Up
                    </a>
                {% endif %}

            </div>

            

    </nav>
</header>

<section class="container mx-auto mt-8 px-8 ">
    {% comment %} <h2 class="text-3xl font-bold text-gray-700 py-12">Browse</h2> {% endcomment %}
    <h2 class="text-2xl font-bold mb-6">Browse</h2>
    <div class="place-items-center">
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 w-[1000px] place-items-center">
            {% for pet in pets %}
            <div class="bg-white rounded-[16px] w-[160px] h-[190px] shadow-md overflow-hidden cursor-pointer relative" data-pet-id="{{ pet.id }}" 
            onclick="showPetModal('{{ pet.id }}', '{{ pet.name }}', '{{ pet.created_at }}','{{ pet.age_years }}', '{{ pet.age_months }}','{{ pet.type }}', '{{ pet.adoption_fee }}','{{ pet.description }}', '{{ pet.image.url }}', {% if pet.id in favorite_pet_ids %} true {% else %} false {% endif %})">
                

                
                <!-- Pet Image -->
                <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="w-full h-[116px] object-cover rounded-[16px]">
                <div class="p-2">
                    <h3 class="font-bold text-[16px]">{{ pet.name }}</h3>
                    <p class="text-gray-500 text-[12px]" >
                        {% if pet.age_years > 0 %}
                            {% if pet.age_years > 1 %}
                            {{ pet.age_years }} years
                            {% else %}
                            {{ pet.age_years }} year
                            {% endif %}
                        {% else %}
                            {%if pet.age_months > 1 %}
                            {{ pet.age_months }} months
                            {% else %}
                            {{ pet.age_months }} month
                            {% endif %}
                        {% endif %}
                    </p>
                    <span class="text-gray-500 text-[12px]">{{ pet.type }}</span>
                </div>

                <!-- Favorite Button Overlay -->
                <a href="{% url 'pets:toggle_favorite' pet.id %}" 
                class="absolute top-2 right-2 z-10" 
                onclick="event.stopPropagation();">
                    {% if pet.id in favorite_pet_ids %}
                        <img src="{% static 'images/liked.png' %}" alt="Liked" class="w-10 h-10">
                    {% else %}
                        <img src="{% static 'images/unliked.png' %}" alt="Not Liked" class="w-10 h-10">
                    {% endif %}
                </a>
            </div>
            {% empty %}
            <p>No pets available.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="flex justify-center mt-20">
        <div class="inline-flex items-center space-x-1">
            {% if pets.has_previous %}
                <a href="?page={{ pets.previous_page_number }}" class="bg-gray-200 text-gray-700 px-3 py-2 rounded-full">Previous</a>
            {% endif %}
            
            {% for page_num in pets.paginator.page_range %}
                {% if pets.number == page_num %}
                    <span class="bg-[#F2968F] text-white px-3 py-2 rounded-full">{{ page_num }}</span>
                {% else %}
                    <a href="?page={{ page_num }}" class="bg-gray-200 text-gray-700 px-3 py-2 rounded-full">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
            
            {% if pets.has_next %}
                <a href="?page={{ pets.next_page_number }}" class="bg-[#F2968F] text-white px-3 py-2 rounded-full">Next</a>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div id="petModal" class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center hidden z-50">
        <div class="bg-white pr-8 rounded-3xl shadow-lg max-w-2xl w-full relative">
    
            <button class="absolute top-4 left-4" onclick="closePetModal()">
                <img src="{% static 'images/backArrow.png' %}" alt="Close" class="w-7 h-7">
            </button>
            <div class="flex flex-col md:flex-row">
                <!-- Image occupying half of the modal with rounded corners and fixed size -->
                <img id="modalPetImage" class="w-[300px] h-[400px] object-cover rounded-3xl mb-4 md:mb-0 md:mr-6" alt="Pet Image">
                <div class="flex-grow">
                    <h3 id="modalPetName" class="pt-8 font-bold text-2xl mb-2"></h3>
                    <p id="modalPetCreated" class="text-gray-500 text-sm mb-2"></p>
                    <div class="flex space-x-2 mb-1">
                        <p id="modalPetAgeYears" class="bg-yellow-500 text-white px-3 py-1 rounded-full text-sm"></p>
                        <p id="modalPetAgeMonths" class="bg-orange-600 text-white px-3 py-1 rounded-full text-sm"></p>
                        <p id="modalPetType" class="bg-blue-500 text-white px-3 py-1 rounded-full text-sm"></p>
                        <p id="modalPetFee" class="bg-[#FF395D] text-white px-3 py-1 rounded-full text-sm"></p>
                    </div>
                    <p id="modalPetDescription" class="text-gray-600 mt-2 mb-4"></p>
                    <input type="hidden" id="modalPetId" value="">
    
                    <!-- Favorite Button in the Modal -->
                    <button id="modalFavoriteButton" class="absolute top-4 right-4 z-10" onclick="toggleFavorite()">
                        <img id="modalFavoriteIcon" src="{% static 'images/unliked.png' %}" alt="Favorite" class="w-10 h-10">
                    </button>
                </div>
                <!-- Positioned "Apply to Adopt" button in the bottom right of the modal -->
                <button class="absolute bottom-6 right-6 bg-[#F2968F] text-white px-6 py-2 rounded-full" onclick="redirectToAdoptionForm()">Apply to Adopt</button>
            </div>
        </div>
    </div>
    
</section>

<script src={% static 'js/modal.js' %} ></script>
{% endblock %}
