{% extends "base.html" %}

{% block title %}{{request.user.first_name}}'s Profile {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<header>
    <nav class="flex items-center justify-between p-4 max-w-7xl mx-auto">
        <div class="flex items-center">
            <a href="{% url 'main:home' %}">
                <img src="{% static 'images/paws4homelogo.png' %}" alt="logo">
            </a>
        </div>
        
        <div class="flex items-center space-x-6">
            {% if request.user.account_type == 'user' %}
                <a href="{% url 'pets:list_pet' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Browse
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
                <a href="{% url 'main:user_dashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% else %}
                <a href="{% url 'main:shelterdashboard' %}" class="text-xl font-medium relative group hover:text-orange-500">
                    Dashboard
                    <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                </a>
            {% endif %}
            <a href="{% url 'main:notifications' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Notifications
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <a href="{% url 'main:conversations_list' %}" class="text-xl font-medium relative group hover:text-orange-500">
                Messages
                <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
            </a>
            <span class="text-xl text-orange-500 font-semibold underline underline-offset-4">Profile</span>
        </div>
            
            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                <div class="group flex items-center space-x-2">
                    <!-- Welcome message -->
                    <div class="opacity-100 transition-opacity duration-500 ease-in-out group-hover:opacity-0 ">
                        Welcome, 
                    </div> 
                    <div class="transition-font duration-500 ease-in-out group-hover:font-bold space-x-2">
                    {{ request.user.email }}!
                    </div>
                    <!-- Logout button -->
                    <a href="{% url 'main:logout_account' %}">
                        <button class="BtnLogout">
                            <div class="sign">
                                <svg viewBox="0 0 512 512">
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                                </svg>
                            </div>
                            <div class="text">Logout</div>
                        </button>
                    </a>
                </div>
                {% else %}
                    <div class="nav-items">Welcome, Guest!</div>
                    <a href="{% url 'main:login_account' %}" class="text-xl text-[#714949] relative group hover:text-orange-500 font-semibold">Login
                        <span class="absolute left-0 bottom-0 w-0 h-0.5 bg-orange-500 transition-all duration-300 group-hover:w-full"></span>
                    </a>
                    <a href="{% url 'main:create_account' %}" class="text-xl bg-[#F2968F] text-white px-4 py-2 rounded-full duration-500 hover:bg-red-400">Sign Up
                    </a>
                {% endif %}

            </div>

            

    </nav>
</header>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="bg">
        {% comment %} left side, basic information sa user {% endcomment %}
            <div class="info">
                <center>
                    <div class="profile-container">
                        {% comment %} <img src="{% static "images/shelterlogo.png" %}" alt="test" id="profile-pic"> {% endcomment %}
                        {% comment %} <img src="{{ user.image_url if user.image_url else static('main/shelterlogo.png') }}" alt="Profile Picture" id="profile-pic"> {% endcomment %}
                        {% if user.image_url %}
                            <img src="{{ user.image_url }}" alt="Profile Picture" id="profile-pic">
                        {% else %}
                            <img src="{{ MEDIA_URL }}/media/main/shelterlogo.png" alt="Profile Picture" id="profile-pic">
                        {% endif %}
                        <label for="update-image" class="edit-button">Change Photo</label>
                        <input type="file" accept="image/jpeg, image/png, image/jpg" name="update-image" id="update-image" hidden>
                    </div>
                    <h1>{{ curr_fn }} {{ curr_ln }}</h1>
                    <h4>{{ type }}</h4>
                </center>
            </div>

            <div class="vertical-line"></div>
            {% comment %} pwede maka edit ang user sa info here {% endcomment %}
            <div class="edit">
                <h2>Personal Information</h2>
                
                {% csrf_token %}
                {{form.non_field_errors }}
                
                <div class="row">
                    <div>
                        <label for="first_name" class="lbl">
                            First Name
                            {% if form.first_name.errors %}
                                <i class="error"> *{{ form.first_name.errors|join:", " }} </i>
                            {% endif %}
                        </label>
                        <br>
                        <center>
                            {{form.first_name}}
                        </center>
                    </div>
                    <div>
                        <label for="last_name" class="lbl">
                            Last Name
                            {% if form.last_name.errors %}
                                <i class="error"> *{{ form.last_name.errors|join:", " }} </i>
                            {% endif %}
                        </label>
                        <br>
                        <center>
                            {{form.last_name}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="birthdate" class="lbl">Birthdate</label>
                        <br>
                        <center>
                            {{form.birthdate}}
                        </center>
                        
                    </div>
                    <div>
                        <label for="phone_number" class="lbl">
                            Phone Number
                            {% if form.phone_number.errors %}
                                <i class="error"> *{{ form.phone_number.errors|join:", " }} </i>
                            {% endif %}
                        </label>
                        <br>
                        <center>
                            {{form.phone_number}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="address" class="lbl">Address</label>
                        <br>
                        <center>
                            {{form.address}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="email" class="lbl">Email</label>
                        <br>
                        <center>
                            {{form.email}}
                        </center>
                    </div>
                    <div>
                        <label for="password" class="lbl">Password</label>
                        <br>
                        <center>
                            {{form.password}}
                        </center>
                    </div>
                </div>
                <br>
                <button type="submit" class="update-btn">Update</button>
            </div>
        </div>
    </form>
    <script src={% static "js/change-picture.js" %}></script>
    {% endblock %}