{% extends "index.html" %}

{% block contents %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static "images/paws4homelogo.png" %}">
    
    <form action="" method="post">
        <div class="bg">
        {% comment %} left side, basic information sa user {% endcomment %}
            <div class="info">
                <center>
                    <div class="profile-container">
                        <img src="{% static "images/shelterlogo.png" %}" alt="test" id="profile-pic">
                        <label for="update-image" class="edit-button">Change Photo</label>
                        <input type="file" accept="image/jpeg, image/png, image/jpg" name="update-image" id="update-image" hidden>
                    </div>
                    <h1>{{ curr_fn }} {{ curr_ln }}</h1>
                    <h4>{{ type }}</h4>
                </center>
            </div>

            <div class="vertical-line"></div>
            {% comment %} pwede maka edit ang user sa info here {% endcomment %}
            <div class="edit">
                <h2>Personal Information</h2>
                
                {% csrf_token %}
                {{form.non_field_errors }}
                
                <div class="row">
                    <div>
                        <label for="first_name" class="lbl">First Name</label>
                        <br>
                        <center>
                            {{form.first_name}}
                        </center>
                    </div>
                    <div>
                        <label for="last_name" class="lbl">Last Name</label>
                        <br>
                        <center>
                            {{form.last_name}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="birthdate" class="lbl">Birthdate</label>
                        <br>
                        <center>
                            {{form.birthdate}}
                        </center>
                        
                    </div>
                    <div>
                        <label for="phone_number" class="lbl">Phone Number</label>
                        <br>
                        <center>
                            {{form.phone_number}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="address" class="lbl">Address</label>
                        <br>
                        <center>
                            {{form.address}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="email" class="lbl">Email</label>
                        <br>
                        <center>
                            {{form.email}}
                        </center>
                    </div>
                    <div>
                        <label for="password" class="lbl">Password</label>
                        <br>
                        <center>
                            {{form.password}}
                        </center>
                    </div>
                </div>
                <br>
                <button type="submit" class="update-btn">Update</button>
            </div>
        </div>
    </form>
    <script src={% static "js/change-picture.js" %}></script>
    {% endblock contents %}