<head>
    {% load static %}
    <title>{% block title %}Sign-Up{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <script src="{% static 'js/loader.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/loader.css' %}">
    
</head>
<body style="font-family: 'Lexend', sans-serif;" class="text-[#714949]">
<div id="content" style="display: none;" class="bg-[#FFDDD2] rounded-[32px] p-t-2 m-12">
    
<div class="outer">

    {% comment %} left side: design part sa create account, katu naay image {% endcomment %}
    <div class="left-side">
        {% comment %} Bold, 75, Open Sans {% endcomment %}
        {% comment %} first two lines, font color #FF7578 {% endcomment %}
        <img src="{% static 'images/paws4homelogo.png' %}" alt="logo" class="logo">
        <p class="bold-texts">
            <span id="color-pink">
                Join the  
                Pack,<br>
            </span>
            <span id="color-brown">
                {% comment %} font color #3E2828 {% endcomment %}
                Paw Friend!
            </span>
            {% comment %} insert image here {% endcomment %}
        </p>    
    </div>

    {% comment %} right side: form of create account {% endcomment %}
    <div class="right-side">

        <div class="inner">
            <center>
                <img src="{% static 'images/PawImageForSignUp.png' %}" alt="Custom Paw"> 
                <h2>Create Account</h2>
            </center>

            <form method="post">
                {% csrf_token %}
                {{form.non_field_errors}}
                <div class="label-input">
                    <label for="email" class="lbl">Email Address</label>
                    <br>
                    <center>
                        {{ form.email }}
                    </center>
                </div>
                <div class="label-input">
                    <label for="password" class="lbl">Password</label>
                    <br>
                    <center>
                        {{ form.password }}
                    </center>
                </div>
                <div class="label-input">
                    <label for="confirm_password" class="lbl">Confirm Password</label>
                    <br>
                    <center>
                        {{ form.confirm_password }}
                    </center>
                </div>
                <div class="label-input">
                    <label for="account_type" class="lbl">Account Type</label>
                    <br>
                    {{ form.account_type }}
                </div>
                <br>
                <center>
                    <button type='submit' class="signup-btn">Sign Up</button>
                    {% if messages %}
                        <br>
                        {% for m in messages %}
                
                            {{m}}
                
                        {% endfor %}
                    {% endif %}
                    {% comment %} <p id="or"> - OR - </p> {% endcomment %}
                    <p>Already have an account? <a href="{% url "main:login_account" %}" id="login">Login</a> </p>
                </center>
            </form>

        </div>

    </div>
</div>
</div>
<div id="page-loader" class="loader-container active">
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
      <div class="wheel"></div>
      <div class="hamster">
        <div class="hamster__body">
          <div class="hamster__head">
            <div class="hamster__ear"></div>
            <div class="hamster__eye"></div>
            <div class="hamster__nose"></div>
          </div>
          <div class="hamster__limb hamster__limb--fr"></div>
          <div class="hamster__limb hamster__limb--fl"></div>
          <div class="hamster__limb hamster__limb--br"></div>
          <div class="hamster__limb hamster__limb--bl"></div>
          <div class="hamster__tail"></div>
        </div>
      </div>
      <div class="spoke"></div>
    </div>
  </div>
</body>