{% extends "userdashboard.html" %}


{% block u_dash_content %}
{% load static %}
{% block ud_name %}<h2>Adoption History</h2>{% endblock ud_name %}
<div class="content">
    {% if pets_with_status %}
        {% for h in pets_with_status %}
            {% comment %} {% if h.status != 1 %} {% endcomment %}
                <div class="pet cursor-default" 
                onclick="showPetModal('{{ h.request_pet.id }}', '{{ h.request_pet.name }}', '{{ h.request_pet.created_at }}','{{ h.request_pet.age_years }}', '{{ h.request_pet.age_months }}','{{ h.request_pet.type }}', '{{ h.request_pet.adoption_fee }}','{{ h.request_pet.description }}', '{{ h.request_pet.image.url }}')">
                    <img src="{{ h.request_pet.image.url }}" alt="{{ h.request_pet.name }}" class="pet-image">
                    <div class="pet-info">
                        <h3 class="pet-name">{{ h.request_pet.name }}</h3>
                        {% comment %} <p class="pet-age">
                            {% if h.age_years > 0 %}
                            {{ h.age_years }} years{% if h.age_months > 0 %} and {{ h.age_months }} months{% endif %} old
                            {% else %}
                                    {{ h.age_months }} months old
                                {% endif %}
                        </p> {% endcomment %}
                            <span class="pet-type">{{ h.request_pet.type }}</span> <br>
                            {% if h.status == 2 %}
                                <p class="pet-status-accept">Accepted</p>
                            {% elif h.status == 3 %}
                                <p class="pet-status-reject">Rejected</p>
                            {% endif %}
                    </div>
                </div>  
            {% comment %} {% endif %} {% endcomment %}
                
                {% comment %} <!-- Favorite Button Overlay -->
            <a href="{% url 'pets:toggle_favorite' h.id %}" 
                class="absolute top-2 right-2 z-10" 
                onclick="event.stopPropagation();">
                <img src="{% static 'images/liked.png' %}" alt="Liked" class="w-10 h-10">
            </a> {% endcomment %}
        {% endfor %}
    {% else %}    
        <p class="empty">No adoption history.</p>           
    {% endif %}
</div>    
{% comment %} <section class="history">
        <h3>Accepted (Owned)</h3>
        {% if accepted %}
            {% for a in accepted %}
    
                    <div class="pet">
                        <img src="{{ a.image.url }}" alt="{{ a.name }}" class="pet-image">
                        <div class="pet-info">
                            <h3 class="pet-name">{{ a.name }}</h3>
                            <p class="pet-age">
                                {% if a.age_years > 0 %}
                                    {{ a.age_years }} years{% if a.age_months > 0 %} and {{ a.age_months }} months{% endif %} old
                                {% else %}
                                    {{ a.age_months }} months old
                                {% endif %}
                            </p>
                            <span class="pet-type">{{ a.type }}</span>
                        </div>
                    </div> 
                    
            {% endfor %}
        {% endif %}
    </section>
    
    <section class="history">
        <h3>Rejected</h3>
        {% if rejected %}
            {% for r in rejected %}
    
                    <div class="pet">
                        <img src="{{ r.image.url }}" alt="{{ r.name }}" class="pet-image">
                        <div class="pet-info">
                            <h3 class="pet-name">{{ r.name }}</h3>
                            <p class="pet-age">{{ r.age }} years old</p>
                            <span class="pet-type">{{ r.type }}</span>
                        </div>
                    </div> 
                    
            {% endfor %}
        {% endif %}
    </section> {% endcomment %}
{% endblock u_dash_content %}