{% extends "userdashboard.html" %}


{% block u_dash_content %}
{% block ud_name %}<h2>Adoption History</h2>{% endblock ud_name %}
    <section class="history">
        <h3>Accepted (Owned)</h3>
        {% if accepted %}
            {% for a in accepted %}
    
                    <div class="pet">
                        <img src="{{ a.image.url }}" alt="{{ a.name }}" class="pet-image">
                        <div class="pet-info">
                            <h3 class="pet-name">{{ a.name }}</h3>
                            <p class="pet-age">
                                {% if a.age_years > 0 %}
                                    {{ a.age_years }} years{% if a.age_months > 0 %} and {{ a.age_months }} months{% endif %} old
                                {% else %}
                                    {{ a.age_months }} months old
                                {% endif %}
                            </p>
                            <span class="pet-type">{{ a.type }}</span>
                        </div>
                    </div> 
                    
            {% endfor %}
        {% endif %}
    </section>
    
    <section class="history">
        <h3>Rejected</h3>
        {% if rejected %}
            {% for r in rejected %}
    
                    <div class="pet">
                        <img src="{{ r.image.url }}" alt="{{ r.name }}" class="pet-image">
                        <div class="pet-info">
                            <h3 class="pet-name">{{ r.name }}</h3>
                            <p class="pet-age">{{ r.age }} years old</p>
                            <span class="pet-type">{{ r.type }}</span>
                        </div>
                    </div> 
                    
            {% endfor %}
        {% endif %}
    </section>
{% endblock u_dash_content %}